.book {
    background-color: #090909;
    color: #fff;
    max-width: 445px;
    min-width: 250px;
    border-radius: 10px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    word-wrap: break-word;
}